.newslet {
  color: var(--color-primary);
}

.newslet input[type=text] {
  border: none;
  font-size: 17px;
}

* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 15px;
  text-align: center;
}

.news-input {
  text-indent: 3.5em;
}

.input-field:focus {
  border: 2px solid var(--color-primary-light);
}

@media only screen and (min-width: 60em) {

  .sign-button {
    padding-right: 3em;
    padding-left: 3em;
  }

}
